/* This CSS file is linked to both the home and cast html files which allows me to edit the styles of both pages at once */

header {
  background-color: #990000;
  margin: -10px;
  padding: 0.5px;
}

/* The background-color was used to create a background colour for the header
The margin style attribute was used so the border meets the sides of the site page
The padding style attribute was used to increase the size of the border around the text */

header, footer, a, p, h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* I applied the font-family and color stykle attributes to multiple elements so the font
style was consistent throughout the website */

header, footer, h2 {
  text-align: center;
}

/* I used tge text-align atrribute to make the position of multiple attributes in the centre of the page */

p {
  margin-top: 30px;
  font-size: 1em;
}

/* I used a margin-top style attribute to create a bigger space between text */

video {
  display: block;
  margin: auto;
}

/* I added these CSS videos to centre tge video onto the page */

img {
  max-width: 30%;
}

/* I used the max-width style element to adjust the width of the cast images */
